
 h1{
     color: rgb(165, 26, 26);
 }
    p{
        text-align:center;
        border: 5px solid yellow;
        border-radius: 25px;
        margin: 50px 500px 500px;
        color: rgb(0, 0, 0) ;
        background-image: url(https://scontent.fdac47-1.fna.fbcdn.net/v/t1.6435-9/s960x960/187753818_476151346943929_6022106652708948401_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=e3f864&_nc_ohc=lwX29gk4gRsAX_KzlKq&_nc_oc=AQnsYQlXWsm0Ckx-G66N4bwHhoeDYbJ0r3zZHHz_QSkMLM8jFutAhGo14L0SJ3R-fq4&_nc_ht=scontent.fdac47-1.fna&tp=7&oh=42ca9e8e929f43400b8ebcc44d44ec09&oe=60E600EC);
    }
    h1{
        text-align: center;
    
    }
    .tumi{
        color: crimson;
        text-align: center;
    }
  